# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import Datasets

In [2]:
path=(r'C:\Users\Admin\Desktop\Data Tasks\Data Immersion\Achievement 4\Instacart Basket Analysis\02 data')

In [3]:
ords_prods_merged=pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_merged.pkl'))

# Direction 1
#### If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

## Create column 'price_labe'

In [4]:
ords_prods_merged.loc[ords_prods_merged['prices']<=5,'price_label']='Low-range product'

In [5]:
ords_prods_merged.loc[(ords_prods_merged['prices']>5) & (ords_prods_merged['prices']<=15),'price_label']='Mid-range product'

In [6]:
ords_prods_merged.loc[ords_prods_merged['prices']>15,'price_label']='High-range product'

In [7]:
ords_prods_merged['price_label'].value_counts(dropna=False)

price_label
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

## Create column 'busiest_day'

In [8]:
#identifying the busiest days
ords_prods_merged['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [9]:
#creating the list
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [10]:
#assigning new column the list result
ords_prods_merged['busiest_day']=result

In [11]:
#displaying the dataframe
ords_prods_merged.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy

# Direction 2
#### Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [12]:
#creating the list
outcome=[]

for y in ords_prods_merged["orders_day_of_week"]:
    
    if y == 0 or y == 1:
        outcome.append("Busiest days")
    elif y == 3 or y == 4:
        outcome.append("Least busy")
    else:
        outcome.append("Regularly busy")

In [13]:
#assigning new column the list result
ords_prods_merged['busiest_days']=outcome

In [14]:
#dropping the previous busiest_day column
ords_prods_merged=ords_prods_merged.drop(columns=['busiest_day'])

In [15]:
#displaying the dataframe after altering the column
ords_prods_merged.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

# Direction 3
#### Check the values of this new column for accuracy. Note any observations in markdown format.

In [16]:
ords_prods_merged['busiest_days'].value_counts(dropna=False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: count, dtype: int64

# Direction 4
#### When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [17]:
#finding the busiest hours of the day
ords_prods_merged['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [18]:
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'].isin([0,1,2,3,4,5,6,23]),'busiest_period_of_day')]='Fewest orders'

In [19]:
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'].isin([7,8,17,18,19,20,21,22]),'busiest_period_of_day')]='Average orders'

In [20]:
ords_prods_merged.loc[(ords_prods_merged['order_hour_of_day'].isin([9,10,11,12,13,14,15,16]),'busiest_period_of_day')]='Most orders'

In [21]:
ords_prods_merged.head(3)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_label,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Most orders

# Direction 5
#### Print the frequency for this new column.

In [22]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

# Direction 7
#### Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [23]:
ords_prods_merged.to_pickle(os.path.join(path,'Prepared Data','df_ords_prods.pkl'))