# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import Datasets

In [2]:
# defyning path
path=(r'C:\Users\Admin\Desktop\Data Tasks\Data Immersion\Achievement 4\Instacart Basket Analysis\02 data')

In [3]:
# imporing orders
df_ords=pd.read_csv(os.path.join(path,'Prepared Data','df_ords_clean.csv'),index_col=0)

In [4]:
# importing df_ords_prior 
df_ords_prior=pd.read_csv(os.path.join(path,'Original Data','orders_products_prior.csv'),index_col=False)

# Dataframe Check

In [5]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.shape

(3421083, 6)

In [8]:
df_ords_prior.shape

(32434489, 4)

# Direction 1
#### If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [9]:
df_merged_large=df_ords.merge(df_ords_prior,on='order_id',indicator=True)

In [10]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [11]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
df_merged_large.shape

(32434489, 10)

# #Reduce Memory Used

#### Note: In order to prevent the possible memory errors in the future, I want to change the data type of the columns so it takes less space and runs faster

#checkin the maximum values to decide the int(8/16/32/64) type 
df_merged_large.describe()

In [13]:
#checking the memory usage before changing the dtype
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   _merge                  category
dtypes: category(1), float64(1), int64(8)
memory usage: 2.2 GB

In [14]:
#changing the dtype
df_merged_large['order_id']=df_merged_large['order_id'].astype('int32')
df_merged_large['user_id']=df_merged_large['user_id'].astype('int32')
df_merged_large['order_number']=df_merged_large['order_number'].astype('int8')
df_merged_large['orders_day_of_week']=df_merged_large['orders_day_of_week'].astype('int8')
df_merged_large['order_hour_of_day']=df_merged_large['order_hour_of_day'].astype('int8')
df_merged_large['days_since_prior_order']=df_merged_large['days_since_prior_order'].astype('float16')
df_merged_large['product_id']=df_merged_large['product_id'].astype('int32')
df_merged_large['add_to_cart_order']=df_merged_large['add_to_cart_order'].astype('int32')
df_merged_large['reordered']=df_merged_large['reordered'].astype('int8')

In [15]:
#checking the memory usage after changing the dtype
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 711.4 MB

#### Mmmaaaaagggiicc

# Direction 2
#### Export the merged file in pickle format as “orders_products_combined.pkl”

In [16]:
#exporting df_merged_large to pkl.
df_merged_large.to_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))